/* https://dev.to/leapcell/get-screen-size-in-pure-css-3kna */
/* https://www.javiermorales.dev/blog/dvd */

@property --w_raw {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}

@property --h_raw {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vh;
}

:root {
  --container-w: tan(atan2(var(--w_raw), 1px));
  --container-h: tan(atan2(var(--h_raw), 1px));
  --logo-w: 480;
  --logo-h: 272;
  --speed: 180; /* pixels per second */

  --duration-x: calc((var(--container-w) - var(--logo-w)) / var(--speed) * 1s);
  --duration-y: calc((var(--container-h) - var(--logo-h)) / var(--speed) * 1s);
}

#saveme {
  width: calc(var(--logo-w) * 1px);
  height: calc(var(--logo-h) * 1px);
}

.saveme-animated {
  animation: x var(--duration-x) linear infinite alternate,
    y var(--duration-y) linear infinite alternate,
    colorX calc(var(--duration-x) * 5) step-start infinite,
    colorY calc(var(--duration-y) * 5) step-start infinite;
}

.saveme-animated > div {
  border-color: hsl(calc(360 / 25 * (var(--color-y) * 5 + var(--color-x))) 100% 50%) !important;
}

@keyframes x {
  from {
    left: 0;
  }
  to {
    left: calc(100% - calc(var(--logo-w) * 1px));
  }
}

@keyframes y {
  from {
    top: 0;
  }
  to {
    top: calc(100% - calc(var(--logo-h) * 1px));
  }
}

@keyframes colorX {
  from {
    --color--x: 0;
  }
  20% {
    --color-x: 2;
  }
  40% {
    --color-x: 4;
  }
  60% {
    --color-x: 1;
  }
  80% {
    --color-x: 3;
  }
  to {
    --color-x: 0;
  }
}

@keyframes colorY {
  from {
    --color-y: 0;
  }
  20% {
    --color-y: 2;
  }
  40% {
    --color-y: 4;
  }
  60% {
    --color-y: 1;
  }
  80% {
    --color-y: 3;
  }
  to {
    --color-y: 0;
  }
}

@keyframes endless-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rotate-loop {
  transform-origin: center;
  animation: endless-rotate 2s linear infinite;
}

.rotate-loop-fast {
  transform-origin: center;
  animation: endless-rotate 0.2s linear infinite;
}

@keyframes clicStep {
  0%,
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

.clic-animation {
  animation: clicStep 0.2s steps(2, end) infinite alternate;
}

@keyframes playv {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -384px; /* Moves down 6 rows */
  }
}

@keyframes playh {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -640px; /* Moves across 10 columns */
  }
}

.flame {
  width: 64px;
  height: 64px;
  background-image: url('fire1_64.png');
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999;
  pointer-events: none;

  /* Apply separate X and Y animations */
  animation: playv 0.1s steps(6) infinite, playh 0.1s steps(10) infinite;
}

@keyframes fallWithGravity {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.falling-skull {
  animation: fallWithGravity 1s ease-in forwards;
}

@keyframes flashText {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}

.flashing-text {
  animation: flashText 1s infinite;
}
