<template name="background">
  <div
    id="background"
    class="w-full h-full absolute -z-10 bg-cover bg-no-repeat bg-center transition-colors duration-[5s]"
    style="{{ getBg }}"
  ></div>
</template>

<template name="flamesBg">
  <div class="w-full h-full absolute top-0 transition-opacity duration-1000 opacity-0" id="flamesContainer">
    <video 
    class="w-full h-full object-cover" 
    autoplay 
    loop 
    muted 
    playsinline 
  >
    <source src="flames.mp4" type="video/mp4">
    Coucou samuel tu as pas honte d'utiliser un navigateur qui n'est pas compatible avec les fichiers mp4? tu devrais franchement parce que bravo maintenant tu te tapes la honte devant tout le monde
  </video>

  </div>

</template>